*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    background-color: lavender;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 3px;
}

.item{
    width: 30%;
    height: 30%;
    font-size: 3.7em;
    text-align: center;
    line-height: 100px;
    background-color: white;
}

.item:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.2);
}

.item:active{
    background-color: rgba(128, 128, 128, 0.5);
    font-size: 3.5em;
}



.modalWindow{
    width: 200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    display: none;
}
.modalTitle{
    padding: 5px;
}

.modalText{
    padding: 5px;
}
.modalButtons{
    display: flex;
    justify-content: space-around;
    padding: 3px;
}
.modalButtons div{
    padding: 2px 14px;
    background-color: rgba(128, 128, 128, 0.158);
    border-radius: 5px;
}

.modalButtons div:hover{
    cursor: pointer;
}

.modalButtons div:active{
    background-color: rgba(128, 128, 128, 0.25);
    color: rgba(0, 0, 0, 0.67);
}

.modalShow{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    opacity: 1;
}